/*Styling*/

html {
    background:rgb(30,30,30);
    color:white;
    font-family: Verdana;
    font-size: 20px;
}
p{
  color:rgb(255, 255, 255);
  background:rgba(200, 200, 200, 0.6);
  border: none;
  border-radius: 15px;
  padding: 15px;
}
p.description {
  color:rgb(30, 30, 30);
  background:rgba(200, 200, 200, 0.6);
  border: none;
  border-radius: 15px;
  padding: 15px;
}
#main {
    height: 100vh;
    width: 100%;
}
button {
    color: white;
    background:rgb(50, 50, 50);
    border: 5px solid white;
    border-radius: 15px;
    padding: 15px 32px;
    text-align: center;
    font-size: 20px;
    font-family: Verdana;
    cursor: pointer;
}
button:hover 
{
    box-shadow:0 16px 16px 0 rgba(140, 140, 140, 0.3);
}

/*Centering elements*/

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}